body
{
	margin: 40px auto;
	line-height: 1.6;
	font-size: 18px;
	max-width: 650px;
	color: #444;
	padding: 010px
}

h1
	{
		color: #00008B;
	}
h2
	{
		color: #A9A9A9;
	}

{
	h1,h2,h3
	{
		line-height:1.2
	}
}
